{% extends "base.html" %}
{% block title %}
  Наши правила
{% endblock %}
{% block content %}
  <div class="col d-flex justify-content-center">
    <div class="card" style="width: 40rem;">
      <div class="card-header">
        Правила сайта
      </div>
      <div class="card-body">
        <p>
          <b>Виски.</b> Напиток, которым мы любим.
        </p>
        <p>
          <b>Бочки.</b> Сосуд для созревания любимого напитка.
        </p>
        <p>
          <b>Твой Рейтинг.</b> Сайт который объединяет любителей Виски и Бочек.
        </p>
      </div>
    </div>
  </div>
{% endblock %}