{% load static %}
<link rel="stylesheet" href="{% static 'css/header.css' %}">
<header>
  <nav class="navbar navbar-light site-header">
    <div class="container">
      <a class="navbar-brand brand-link" href="{% url 'pages:home' %}">
        <img src="{% static 'img/logo.png' %}" 
             width="33" 
             height="33" 
             class="d-inline-block align-top" 
             alt="Логотип Твой Рейтинг">
        Твой Рейтинг
      </a>
      
      {% with request.resolver_match.view_name as view_name %}
        <ul class="nav nav-pills">
          {% for item in menu_items %}
            <li class="nav-item">
              <a class="nav-link text-custom {% if view_name == item.url_name %}active{% endif %}" 
                 href="{% url item.url %}">
                {{ item.title }}
              </a>
            </li>
          {% endfor %}
        </ul>
      {% endwith %}
    </div>
  </nav>
</header>